<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeTime Card</title>
</head>
<body>
    <h1>Freetime Card - Free lance timecard application</h1>
    <hr>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" rule="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <h3>Hello {{fname}}</h3>
    <h4>You are logged in.</h4>
    <button type="submit"><a href="/signout">Sign out</a></button>
    {% else %}
    <button type="submit"> <a href="/signup">Sign up</a></button>
    <br>
    <button type="submit"><a href="/signin">Sign in</a></button>
    {% endif %}

</body>
</html>