{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'home/css/bootstrap.css' %}">

    <style>
        .content {
            margin: 15px;
        }
    </style>

    <title>FreeTime Card</title>
</head>
<body>
    <div class="content">
        <h1>Freetime Card - Free lance timecard application</h1>
        <hr>

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" rule="alert">
            <strong>Message:</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <h3>Hello {{fname}}!</h3>
        <a class="btn btn-primary" href="/clock_in" role="button">Clock in</a>
        <a class="btn btn-primary" href="/clock_out" role="button">Clock out</a>
        <a class="btn btn-primary" href="/clock_history" role="button">View clock history</a>
        <a class="btn btn-primary" href="/signout" role="button">Sign out</a>
        {% else %}
        <a class="btn btn-primary" href="/signup" role="button">Create an account</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/signin" role="button">Log in</a>
        {% endif %}
    </div>
</body>
</html>